<!-- Cookies for home page -->
<div class="cookies" id="cookie-div">
  <div class="cookies-top">
    <button id="close">
      <svg id="svg-close"><use xlink:href="#icon-close"></use></svg>
    </button>
  </div>
  <div class="cookies-main">
    <div class="cookies-content">
      <p class="cookie-text">
        <!-- Strona wykorzystuje cookies i przetwarza dane zgodnie z zasadami
        opublikowanymi w Polityce Prywatności. Jeżeli nie wyrażasz zgody na
        przetwarzanie danych, zmień ustawienia swojej przeglądarki.<br />
        Wybierając <button id="ok">OK</button>, zgadzasz się na warunki
        przetwarzania.  -->
        The site uses cookies and processes data in accordance
        with the rules published in the <a href="/privacy/">Privacy Policy</a>. If you do not agree to
        the processing of data, change your browser settings.<br/>
        By selecting <button id="ok">OK</button>, you agree to the terms of processing. <a href="/cookies/">Learn more...</a>
      </p>
    </div>
  </div>
</div>
